.kaufman__triangle {
  position: absolute;
  background-image: url(../../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
}