.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  position: relative;
  color: #000;  
}

.content {
  position: relative;
}

.techniques {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.cards__item {
  margin: 0;
  width: 240px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 60px 40px 43px 40px;
}

.cards__title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cards__description {
  margin: 0;
  padding-top: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;  
}

.video {
  position: relative;
  padding-top: 100px;
  z-index: 2;
}

.video__iframes {
  padding-top: 50px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  position: relative;
  top: -30px;
  padding-top: 60px;
  margin-bottom: -30px;
  background-color: #f2f2f2;
}

.digits {
  padding: 100px 0;
}

.feynman {
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
}

.feynman__subtitle {
  position: relative;
  padding-top: 70px;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;    
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 3;  
}

.feynman__photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__link::after {
  content: " →";
}

.kaufman {
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}




.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
}







